.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transform: translateX(100%);
  transform: 1s translateX(-100%) ease-in-out;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transform: 1s translateX(-100%) ease-in-out;
  transition: 1s ease-in-out;
}

.enterDone {
  transition: 2s ease-in-out;
  background-color: antiquewhite;
  margin: 10px;
}
