.container {
  width: 600px;
  border: 1px solid green;
  font-size: 100px;
}

.title {
  color: rgb(255, 71, 240);
  font-size: 30px;
  text-transform: uppercase;
}

.subTitle {
  composes: title;
  font-size: 20px;
  text-transform: lowercase;
}
